* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  line-height: 1.5;
  background: #f4f4f4;
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.header {
  background: #1f1d1d;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-size: 16px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand a {
  color: white;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-right: 30px;
}

.nav-list a {
  margin: 0 1em;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: darkorange;
}


html {
  scroll-behavior: smooth;
}

.section {
  padding: 5em 2em;
  margin-top: 3em;
}

.home-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(30%);
  z-index: -1;
}

.intro {
  z-index: 1;
}

.intro h1 {
  font-size: 3.5em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.title-box {
  margin-bottom: 1em;
  padding: 10px;
  border: 2px solid #ddd;
  display: inline-block;
  background: #fff;
}


.about-section {
  padding: 2em 0;
  background-color: #fff;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 1em;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.about-item {
  flex: 1 1 250px;
  text-align: center;
}

.about-item h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.about-item p {
  font-size: 1.09em;
  color: #333;
}


.skills-section {
  padding: 2em 0;
  background-color: #fff;
  text-align: center;
}

.skills-section h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: #333;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.1em;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-item {
  flex: 1 1 220px;
  background: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.skill-item h3 {
  font-size: 1.3em;
  color: #e67e22;
  margin-bottom: 1em;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.icon-container {
  text-align: center;
  width: 80px;
}

.icon-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.icon-container p {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #555;
}

.icon-container img:hover {
  transform: scale(1.1);
}


/* Study Note Section */
.study-note-section {
  padding: 2em 0;
  text-align: center;
  background-color: #fff;
}

.study-note-section h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: #333;
}

.study-note-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

.study-item {
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  text-align: left;
}

.study-item:hover {
  transform: scale(1.05);
}

.study-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.study-content {
  padding: 1rem;
}

.study-content h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.study-content p {
  font-size: 0.9rem;
  color: #555;
  margin: 0.3rem 0;
}

.study-date {
  font-size: 0.8rem;
  color: #888;
  margin-top: 0.5rem;
}

.study-link {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.study-link:hover {
  text-decoration: underline;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .study-note-container {
    grid-template-columns: repeat(2, 1fr); /* 화면이 작아지면 한 줄에 2개 */
  }
}

@media (max-width: 480px) {
  .study-note-container {
    grid-template-columns: 1fr; /* 모바일에서는 한 줄에 1개 */
  }
}


.projects-section {
  padding: 2em 0;
  text-align: center;
  background-color: #fff;
}

.projects-section h2 {
  font-size: 2.5em;
  color: #333;
}

.slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-counter {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 1.2em;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  z-index: 1000;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.projects-container {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
}

.project-item-large {
  flex: 0 0 80%;
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  height: 500px;
  margin: 0 auto;
  padding: 2em;
}

.project-image {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.project-image img {
  width: 140%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.project-content {
  flex: 2;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.project-content h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #333;
}

.project-content p {
  font-size: 1em;
  color: #555;
  margin-bottom: 1em;
}

.project-links {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  margin-top: 1em;
}

.button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5em 0.5em;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}


.contact-section {
  padding: 2.5em 0;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 1rem;
}

.social-links a {
  position: relative;
  text-decoration: none;
}

.social-links a img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-links a img:hover{
  transform: scale(1.2);
}

.social-links a::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.social-links a:hover::after {
  opacity: 1;
}

.email-icon {
  vertical-align: middle;
}



.footer {
  background: #1f1d1d;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

.transparent-navbar {
    background-color: rgba(255, 255, 255, 0.8);
}

.black-text {
    color: #000 !important;
}

#scroll-to-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: none;
  background: #000;
  color: #fff;
  border: none;
  padding: 1em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

#scroll-to-top.show {
  display: block;
}

.nav-list a.black-hover:hover {
  color: orange !important;
}

.border-text {
  position: relative;
  padding: 30px;
  max-width: 750px;
  margin: 20px auto;
  box-shadow: 3px 3px 6px rgba(0.1, 0.1, 0.1, 0.2);
  border-radius: 15px;
}

.border-text p {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.6;
  color: #333;
}

.project-item img {
  max-width: 50%;
  margin: 0 auto;
}